{# app/Resources/views/layout.html.twig #}
{% extends "SymfonyFirstApp::layout.html.twig" %}

{% block content %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
<script type="text/javascript">
(function(){
    var fTask = angular.module('fTask', []).config(['$interpolateProvider', function ($interpolateProvider) {
        $interpolateProvider.startSymbol('[[');
        $interpolateProvider.endSymbol(']]');
    }]);

    fTask.factory('$task', ['$http', function($http) {
		var task = this;

    	return {
        	changeStatus: function(task) {
				var address = '{{ path('SymfonyFirstApp_status', {id: '__ID__'}) }}';
            	$http.post(address.replace('__ID__', task.id)).success(function(data){
                	if(data.status) {
						task.priority = data.priority;
                		task.status = true;
                	} else {
						task.priority = data.priority;
                		task.status = false;
                    }
                });
            }
        };
    }]);
    
    fTask.controller('GridController', ['$http', '$task', function($http, $task) {
        var grid = this;
        this.tasks = [];

        $http.get('/api/tasks').success(function(data){
            grid.tasks = data;
        });

        this.statusChange = function(task) {
            $task.changeStatus(task);
        }
    }]);
})();
</script>
<h1>Lista zadań</h1>
<div ng-controller="GridController as grid">
    <div class="tasks">
        <div ng-repeat="task in grid.tasks">
            <div class="task label" ng-class="'label-' + task.priority">
				<!--<form action="{ path('SymfonyFirstApp_delete', {id: task.id}) }}" method="post" class="formOneButton">-->
        			<!--<button type="submit" class="btn btn-xs btn-link">Usuń</button>-->
				<!--</form>-->
                
                    <span class="glyphicon glyphicon-check" ng-hide="task.status" ng-click="grid.statusChange(task)" style="cursor: pointer;"></span>
                    <span class="glyphicon glyphicon-unchecked" ng-show="task.status" ng-click="grid.statusChange(task)" style="cursor: pointer;"></span>
                    
					<div ng-show="task.category" class="category label label-primary" ng-class="'label-' + task.category.className">
                        [[ task.category.name ]]
					</div>
                
                [[ task.title ]]
            </div>
        </div>
    </div>
</div>
{% endblock %}
