@CHARSET "UTF-8";
body {
	background: #ccc;
}

div.tasks {
	font-size: 13pt;
}

div.tasks .task, div.categories .category {
	width: 100%;
	text-align: left;
	display: block;
	margin: 10px;
	padding: 10px;
}

div.tasks .task .category {
	text-align: left;
	display: block;
	margin-top: -20px;
	float: right;
}

form {
	display: block;
}

.formOneButton {
	display: inline;
}

input[type=submit] {
	border: 1px solid #800;
	background: #f00;
}

table {
	width: 100%;
}

th {
	border-bottom: 1px solid #333;
}

td {
	border-bottom: 1px dashed #aaa;
}